[phases.setup]
nixPkgs = ['php84', 'php84Extensions.pdo', 'php84Extensions.pdo_sqlite', 'php84Extensions.mbstring']

[phases.install]
cmds = ['composer install --no-dev --optimize-autoloader']

[phases.build]
cmds = [
    'mkdir -p database',
    'touch database/database.sqlite',
    'chmod -R 775 storage bootstrap/cache database'
]

[start]
cmd = 'frankenphp run --config /app/Caddyfile'